# Editor & IDE settings
.vscode
.idea

# Git & GitHub files
.git
.github
.gitignore

# Docker build configs
Dockerfile
.dockerignore

# Environment & secret files
.env

# Documentation & metadata
README.md