# Editor & IDE settings
.vscode
.idea

# Git files
.git
.gitignore

# Docker build configs
Dockerfile*
.dockerignore

# Logs & temp files
*.log
.DS_Store

# Environment & secret files
.env*

# Documentation & metadata
README.md